<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <body>
        <header class="header">
            <a href="#" class="logo"><span>Ezhav</span>arasan</a>
            <nav class="navbar">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'education' %}">Education</a>
                <a href="{% url 'skills' %}">skills</a>
                <a href="{% url 'experience' %}">Experience</a>
                <a href="{% url 'projects' %}">Projects</a>
                <a href="{% url 'con' %}">Contact me</a>
            </nav>
        </header>
        <div class="container">
            <h1>I'm <span>Ezhavarasan<br></span>Software Developer</h1>
            <div class="button">
                <a href=""><button>Hire me</button></a>
                <a href=""><button>Experience</button></a>
            </div>
            <img src="{%  static 'my.jpg' %}">
        </div>
        <div class="contact">
            <h3 style="color: #4caf50;">To Contact me just fill the Details and send a message</h3>
            <form action="{% url 'cont' %}" method="post">
                {% csrf_token %}
                <label>Name :</label>
                <br>
                <input type="name" name="user">
                <br>
                <label>Email :</label>
                <br>
                <input type="email" name="email">
                <br>
                <label>Contact Number :</label>
                <br>
                <input type="number" name="number">
                <br>
                <label>Type Something</label>
                <br>
                <textarea type="text" placeholder="Type a message below 1000 of words.." name="message"></textarea>
                <br>
                <button>Send</button>
            </form>
        </div>
        <div class="bottom">
            <footer>
                    <p><i class="fas fa-map-marker-alt"></i> 3/141,west street,katteriapatti,kadayam,tenkasi dt,Tamilnadu,India</p>
                    <p><i class="fas fa-envelope"></i> ezhavarasan2003b@gmail.com</p>
                    <p><i class="fas fa-phone"></i> 7604950433</p>
            </footer>
        </div>
</body>
</html>